{% extends 'base.html' %}

{% block title %} Menu | list {% endblock title %}

{% block content %}

<div class="row ">
{% for item in items_list %}
    <div class="col text-center">

        <img src="{{ item.image.url }}" alt="..." class="img-thumbnail">
        <h3> <a href="{{ item.get_absolute_url }}"> {{item.name}} </a> </h3>
        <a href="{{ item.category.get_absolute_url }}"> {{item.category}} </a>
        <p> {{item.description|truncatechars:90}} </p>
        <p> {{item.price}} EG </P>
        <form action="{% url 'menu:add' %}" method="get" target="frame">
            <input type="hidden" name="item" value="{{item.id}}">
            <input type="hidden" name="n" value="1">
            <button type="submit" class="btn btn-primary">Add to order</button>
        </form>

    </div> 
    {% cycle ''  '</div><hr/> <div class="row">' %}
{% endfor %}
</div>

<iframe name="frame" style="display: none;"></iframe>
{% endblock content %}